<main class="col-sm-12 ml-sm-auto col-md-10 pt-3" role="main">

  <!-- Breadcrumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['']">首頁</a>
    </li>
    <li class="breadcrumb-item active">資訊刊版</li>
  </ol>

  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-block">
          <div class="card-block-icon">
            <i class="fa fa-envelope-open-o"></i>
          </div>
          <div class="mr-5 text-light">
            26 新審核!
          </div>
        </div>
        <a href="#" class="card-footer clearfix small z-1 text-white">
          <span class="float-left">檢視詳細</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-block">
          <div class="card-block-icon">
            <i class="fa fa-fw fa-list"></i>
          </div>
          <div class="mr-5 text-light">
            11 新店家!
          </div>
        </div>
        <a href="#" class="card-footer clearfix small z-1 text-white">
          <span class="float-left">檢視詳細</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-block">
          <div class="card-block-icon">
            <i class="fa fa-fw fa-shopping-cart"></i>
          </div>
          <div class="mr-5 text-light">
            123 新兌換!
          </div>
        </div>
        <a href="#" class="card-footer clearfix small z-1 text-white">
          <span class="float-left">檢視詳細</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100">
        <div class="card-block">
          <div class="card-block-icon">
            <i class="fa fa-fw fa-support"></i>
          </div>
          <div class="mr-5 text-light">
            13 新發送!
          </div>
        </div>
        <a href="#" class="card-footer clearfix small z-1 text-white">
          <span class="float-left">檢視詳細</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

  <!-- Area Chart Example -->
  <div class="card mb-3 daily-char">
    <div class="card-header">
      <i class="fa fa-area-chart"></i> 每日兌換紀錄
    </div>
    <div class="card-block">
      <div class="row">
        <!-- <div class="col-sm-8 mt-5"> -->
        <canvas baseChart height="auto" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
          [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      <!-- </div> -->
    </div>
    </div>
    <div class="card-footer small text-muted">
      最後更新 下午 13:30
    </div>
  </div>

  <div class="row">

    <div class="col-lg-8">

      <!-- Example Bar Chart Card -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bar-chart"></i> 點數統計
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-8 mt-5">
              <canvas baseChart height="auto" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                [chartType]="barChartType" (chartHover)="HistogramHovered($event)" (chartClick)="HistogramClicked($event)"></canvas>
            </div>
            <div class="col-sm-4 text-center">
              <hr class="hidden-sm-up">
              <div class="h4 mb-0 text-primary">$5,000</div>
              <div class="small text-muted">點數資本</div>
              <hr>
              <div class="h4 mb-0 text-warning">$2,474</div>
              <div class="small text-muted">人事成本</div>
              <hr>
              <div class="h4 mb-0 text-success">$1,200</div>
              <div class="small text-muted">零用金</div>
              <hr>
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted">
          最後更新 早上 09:30
        </div>
      </div>

    </div>

    <div class="col-lg-4">
      <!-- Example Notifications Card -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-bell-o"></i> 審核完成
        </div>
        <div class="list-group list-group-flush small">
          <a href="#" class="list-group-item list-group-item-action">
            <div class="media">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
              <div class="media-body mt-2">
                <strong>楊老師</strong> 通過一筆
                <strong>張大東</strong> 的任務審核
                <div class="text-muted smaller">2017/12/7 at 5:43 PM</div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="media">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
              <div class="media-body mt-2">
                <strong>楊老師</strong> 通過一筆
                <strong>王大大</strong> 的任務審核
                <div class="text-muted smaller">2017/12/7 at 3:10 PM</div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="media">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
              <div class="media-body mt-2">
                <strong>楊老師</strong> 通過一筆
                <strong>劉的華</strong> 的任務審核
                <div class="text-muted smaller">2017/12/7 at 1:43 PM</div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="media">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
              <div class="media-body mt-2">
                <strong>王老師</strong> 通過一筆
                <strong>王大大</strong> 的任務審核
                <div class="text-muted smaller">2017/12/7 at 7:55 AM</div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            查看更多...
          </a>
        </div>
        <div class="card-footer small text-muted">
          最後更新 昨天 下午 08:30
        </div>
      </div>
    </div>
  </div>

</main>
