.o-hidden {
    overflow: hidden !important;
}

.card-block-icon {
    font-size: 5rem;
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}


/** Char Style */

.daily-char .row {
    margin: 0 auto;
    /* width: 700px; */
    /* max-width: 100%;
    height: auto; */
}
