<main class="col-sm-12 ml-sm-auto col-md-10 pt-3" role="main">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['']">首頁</a>
        </li>
        <li class="breadcrumb-item active">點數發放</li>
    </ol>
    <div class="row loading mt-5 mb-2" *ngIf="isLoading">
        <div class="col-md-12 text-center">
            <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="card mb-3" *ngIf="!isLoading">
        <div class="card-header">
            <i class=" fa fa-fw fa-credit-card "></i> 發放列表 - 共 {{ datas.length }} 筆資料
        </div>

        <div class="container mt-5 mb-5" *ngIf="datas.length === 0">
            <div class="row card-body table-responsive text-center">
                <h2>
                    <i class="fa fa-search" aria-hidden="true"></i>查無結果</h2>
            </div>
        </div>

        <div *ngIf="datas.length > 0" class="card-body table-responsive">
            <table class="table table-striped table-border table-button text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>任務類別</th>
                        <th>學童帳號</th>
                        <th>任務名稱</th>
                        <th>點數獎勵</th>
                        <th>提交時間</th>
                        <th>審核時間</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isLoading" class="text-center">
                        <td colspan="9">
                            <i class="fa fa-spinner fa-3x fa-spin"></i>
                        </td>
                    </tr>
                    <tr *ngFor="let data of datas | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">
                        <th #id scope="row">{{ i + ( page - 1 ) * 10 + 1 }}</th>
                        <td>
                            <span class="badge p-2" [ngClass]="{
                                'btn-orange': data.missiontype == '影片任務',
                                'btn-blue': data.missiontype == '展演任務',
                                'btn-purple': data.missiontype == '旅遊任務',
                                'btn-green': data.missiontype == '環保任務',
                                'btn-sky': data.missiontype == '運動任務',
                                'btn-red': data.missiontype == '美術任務'
                            }">{{ data.missiontype }}</span>
                        </td>
                        <td>{{ data.studentusername }}</td>
                        <td>
                            <a href='http://www.ishareget.org/#/mission/introduce?id={{data.missionid}}' target="_blank">{{ data.missionname }}</a>
                        </td>
                        <td>
                            <span class="btn btn-danger btn-circle">{{ data.missionpoint }}</span>
                        </td>
                        <td>{{ data.submittime | date: 'yyyy/MM/dd HH:mm:ss'}}</td>
                        <td>{{ data.verifytime | date: 'yyyy/MM/dd HH:mm:ss'}}</td>

                        <td class="text-right">
                            <swal type="success" title="已發送完成" #dialogPassSuccess [options]="{ timer : '1000' }"></swal>
                            <swal #dialogDeleteError title="資料刪除失敗，請重新確認" type="error" [options]="{ timer : '1000' }"></swal>
                            <swal type="question" title="確定要發放？" #dialogPass [options]="{ showCancelButton: 'true' }" (confirm)="PassMission(data.studentusername, data.missionid, data.missionpoint)"></swal>
                            <a class="btn btn-primary mr-2" href='http://www.ishareget.org/#/mission/exp?id={{data.missionid}}&studentusername={{data.studentusername}}'
                                target="_blank">心得</a>
                            <button type="button" class="btn btn-danger mr-2" (click)="dialogPass.show()">發放</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer small text-muted">
            <div class="has-text-centered text-center">
                <pagination-controls maxSize="5" (pageChange)="page = $event" *ngIf="datas.length > 0"></pagination-controls>
            </div>
        </div>
    </div>

</main>