<main class="col-sm-12 ml-sm-auto col-md-10 pt-3 h-100" role="main">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['']">首頁</a>
        </li>
        <li class="breadcrumb-item active">學童管理</li>
    </ol>
    <div class="row loading mt-5 mb-2" *ngIf="isLoading">
        <div class="col-md-12 text-center">
            <div class="loader">Loading...</div>
        </div>
    </div>
    <div class="card" *ngIf="!isLoading">
        <div class="card-header">
            <i class="fa fa-users"></i> 學童列表 - 共 {{ groupData.length }} 筆資料
            <button *ngIf="permission.accountcreate" type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modelAddStudent" (click)="data = []; isAddMode = true;">新增</button>
        </div>

        <div class="container mt-5 mb-5" *ngIf="groupData.length === 0">
            <div class="row card-body table-responsive text-center">
                <h2><i class="fa fa-search" aria-hidden="true"></i>查無結果</h2>
            </div>
        </div>

        <div *ngIf="groupData.length > 0" class="card-body table-responsive">
            <table class="table table-striped table-border table-button">
                <thead class="text-center">
                    <tr>
                        <th>#</th>
                        <th>大頭貼</th>
                        <th>帳號</th>
                        <th>姓名</th>
                        <th>性別</th>
                        <th>學號</th>
                        <th>點數</th>
                        <th>就讀學校</th>
                        <th>歸屬單位</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let data of groupData | paginate: { itemsPerPage: 10, currentPage: page } ; let i = index">
                        <td scope="row">{{ i + ( page - 1 ) * 10 + 1 }}</td>
                        <td>
                            <img *ngIf="!data.picture" src="http://fakeimg.pl/60x60/?text=Img" class="rounded" />
                            <img *ngIf="data.picture" [src]='data.picture' class="rounded" />
                        </td>
                        <td>{{ data.username }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.gender }}</td>
                        <td>{{ data.studentid }}</td>
                        <td>{{ data.point }}</td>
                        <td>{{ data.school }}</td>
                        <td>{{ data.unit }}</td>
                        <td class="text-right">
                            <swal #dialogDeleteError title="資料刪除失敗，請重新確認" type="error"></swal>
                            <swal #dialogStudentDelete title="確定要刪除？" type="question" [options]="{ showCancelButton: 'true' }" (confirm)="userDeleteStudent(data.username)"></swal>
                            <button type="button" class="btn btn-primary mr-2" (click)="userGetStudentById(data)" data-toggle="modal" data-target="#modelGetStudentQRcode">QR Code</button>
                            <button type="button" class="btn btn-info mr-2" (click)="userGetStudentById(data)" data-toggle="modal" data-target="#modelAddStudent" *ngIf="permission.accountedit">編輯</button>
                            <button type="button" class="btn btn-danger mr-2" (click)="dialogStudentDelete.show()" *ngIf="permission.accountdelete">刪除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer small text-muted">
            <div class="has-text-centered text-center">
                <pagination-controls maxSize="5" (pageChange)="page = $event" *ngIf="groupData.length > 0"></pagination-controls>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modelAddStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="isAddMode === true" class="modal-title" id="exampleModalLabel">新增學童</h4>
                    <h4 *ngIf="isAddMode === false" class="modal-title" id="exampleModalLabel">編輯學童</h4>
                    <button #modelClose type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="GetStudent();">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label">帳號:</label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="data.username" [readonly]="!isAddMode" required>
                        </div>
                        <div class="form-group" *ngIf="isAddMode">
                            <label class="control-label">密碼:</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="data.password" required>
                        </div>
                        <div class="form-group" *ngIf="isAddMode">
                            <label class="control-label">確認密碼:</label>
                            <input type="password" class="form-control" name="passwordRe" [(ngModel)]="data.passwordRe" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">姓名:</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="data.name" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">性別:</label>
                            <div class="form-check">
                                <label class="custom-control custom-radio">
                      <input name="childgender" type="radio" value="男" class="custom-control-input" [ngModel]="data.gender" (ngModelChange)="data.gender = $event">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">男生</span>
                    </label>
                                <label class="custom-control custom-radio">
                      <input name="childgender" type="radio" value="女" class="custom-control-input" [ngModel]="data.gender" (ngModelChange)="data.gender = $event">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">女生</span>
                    </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">學號:</label>
                            <input type="text" class="form-control" name="studentid" [(ngModel)]="data.studentid" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">點數:</label>
                            <input type="number" class="form-control" name="point" min="0" max="1000" [(ngModel)]="data.point" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">就讀學校:</label>
                            <input type="text" class="form-control" name="school" [(ngModel)]="data.school" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">歸屬單位:</label>
                            <select class="form-control custom-select" name="group" [(ngModel)]="data.group" required>
                    <option *ngFor="let groupdata of groupdatas" [ngValue]="groupdata.groupname">{{ groupdata.name }}</option>
                  </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <swal #dialogSuccess title="資料更新成功" type="success" [options]="{ timer : '1000' }"></swal>
                    <swal #dialogError title="資料錯誤，請重新確認" type="error" [options]="{ timer : '1000' }"></swal>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="GetStudent();">取消</button>
                    <button type="button" class="btn btn-primary" (click)="userDataCheck();">儲存</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modelGetStudentQRcode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">QR Code</h4>
                    <button #modelClose type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <qr-code [value]='qrcodewebsite' [size]="250" [canvas]="true"></qr-code>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
